<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>


  <div class="my-5">
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body, :cols => "60" %>
  </div>
  <span class="border-2 border-blue-500 p-1 bg-blue-50 rounded-md">
    <%= form.submit "Save" %>
  </span>
<% end %>
